#hirefromus-page1 .start{
    margin-top: 105px;
}
#hirefromus-page1 .start .form{
    margin-top: 66px;
}
#hirefromus-page1 .start .form h1{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}